body{
  background-color: #fffafa
}
.pls{
	text-align: center;
	font-size: 10px;
	font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}
p {
	font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5em;
}



.btn-border {
	font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
   display: inline-block;
   max-width: 250px;
margin-left: 70px;
   border: 1px solid #000000;
   font-size: 16px;
   color: #000000;
   text-decoration: none;
   font-weight: normal;
   padding: 8px 16px;
   border-radius: 4px;
   transition: .4s;
 }

 .btn-border:hover {
   background-color: #000000;
   border-color: #000000;
   color: #FFF;
 }
 .btn-border2 {
 	font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;

    display: inline-block;
    max-width: 250px;
    border: 1px solid #000000;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }

  .btn-border2:hover {
    background-color: #000000;
    border-color: #000000;
    color: #FFF;
  }

.contents {
     width: 100%;
     max-width: 1200px;
     margin: auto;
 }
 .contents img {
     width: 100%;
 }
 .text-center {
	 font-size: 15px;
     text-align: center;
 }
 .flexbox {
     display: flex;
 }

 .box2 {
    text-align: center;

  border: solid 3px #black;
 }

 @media screen and (max-width: 767px) {
    .flexbox {
        display: block;
    }
      .flexbox .box1 {
          width: 50%;
          margin: 0 auto;
      }
      .flexbox .box2 {
          width: 100%;

      }
}

  @media screen and (min-width: 601px) {
    .flexbox {
        display: block;
    }
      ..flexbox .box1 {
          width: 50%;
          margin: 0 auto;
      }
      .flexbox .box2 {

          width: 500px;
        margin: 0 auto;
        }
      }
