#first-block{
  overflow:  hidden;
}
p{

  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}
.wait{
  margin-left: 100px;
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}
.mandarin3{
  width: 40%;
 object-fit: cover;
}

h1{
  margin-left: 230px;
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  font-size: 50px;

}

.littleindia{
  overflow: hidden;
  width: 300px;

}
h2{

  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  font-size: 20px;

}
.box1 {
float:right;
  text-align: center;
    width: 300px;
    padding: 0.5em 1em;
    margin-right: 790px;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}
.box2 {
float:left;

  text-align: center;
    width: 300px;
    padding: 0.5em 1em;
    margin: 4em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}
.box3 {
float right;
  text-align: center;
    width: 300px;
    padding: 0.5em 1em;
    margin: 4em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}
.chinatown{

  width: 270px;

}
.hollandvillage{
  float: left;
  width: 300px;

}
